[client]
default-character-set=utf8mb4
sql-mode=ONLY_FULL_GROUP_BY,NO_ENGINE_SUBSTITUTION

# This is sufficient to turn on TLS for mycli without further verification of the connection,
# assuming you are running over an ssh tunnel or similar that already does that. Using TLS
# is necessary for IAM auth to work.
ssl-cipher=DEFAULT
